    <% for (var i = 0; i < books.length; i++) { %>
        <div class="card custom-book-card">
            <div style="width:82%; margin: auto">                
                <h3>File <%= books[i].book %></h3>
                <p><%= books[i].text %></p>
            </div>
        </div>
    <% } %>