<html lang="en">

<head>
    <% include ../view/head %>
</head>

<body>
    <header>
    <% include ../view/header %>
    </header>

    <main class="custom-main">
        <span style="padding: 15px"></span>
        <% include ../view/book %>
        <span style="padding: 15px"></span>
    </main>
    <footer>        
        <% include ../view/footer %>
    </footer>


</body>
</html>