<nav class="navbar navbar-light bg-faded my-footer snow">
<div class="my-footer-logo">
    <img class="animated infinite pulse" src='http://iceflowstudios.com/v3/wp-content/uploads/2011/11/Skyrim_Logo1.png' style="height: 50px">
    <a class="navbar-brand" href="#" style="margin: 0px 0px;border-top:solid; border-bottom:solid">FUS RO DAH!!!</a>
    <img class="animated infinite pulse" src='http://iceflowstudios.com/v3/wp-content/uploads/2011/11/Skyrim_Logo1.png' style="height: 50px">
</div>   
<p class="myfooter-copy-right" style="display: block">Cat Tran &copy; <script type="text/javascript">
    document.write(new Date().getFullYear());
  </script>. All rights reserved.</p>
</nav>