<meta charset="UTF-8">
<title>Sup Y'all</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
<style>
    .brand-logo{
        max-width: 400px;
        border: solid
    }
    .navbar-custom{
        background-color: #bcc0c4;
    }
    .navbar-custom a{
        color: black;
    }
    .navbar-custom ul{
        border-top: solid;
        border-bottom: solid;        
        padding-left: 0px;
    }
    .custom-nav-list{
    }
    .custom-main{
        background-image: url('https://wallpapercave.com/wp/3jO7N1x.jpg');
        background-size: cover;
    }
    .my-header{
        text-align: center;
    }
    .my-footer{
        background-color: #bcc0c4
    }
    .navigation-list{
        list-style-type: none;
        display: inline;
    }
    .navigation-list li{
        float: left;
        padding: 10px;
    }
    main{
        background-color: aliceblue;
    }
    .welcome-message{
        padding-top: 20px;
        max-width: 1120px;
        margin: auto;
        opacity: .9;
    }
    .welcome-image{
        width: 200px;
        float: right;
        -webkit-animation:spin 20s linear infinite;
        -moz-animation:spin 20s linear infinite;
        animation:spin 20s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
    }
    .form-container{
        max-width: 1120px;
        border: thin solid;
        border-radius: 5px;
        margin: auto;
        margin-top: 15px;
        background-image: url('http://1.bp.blogspot.com/-mJpKSDcsk8M/T7GbxfuI9fI/AAAAAAAAArU/GeaX_SbKMpo/s1600/paper-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: .82;    
    }
    .login-form{
        max-width: 600px;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .form-card-header{
        display: inline;
    }
    .form-image{
        width: 150px;
        margin-right: 0px;
        float: right;
    }
    .submitted-form{
        max-width:800px;
        margin: auto;
        background-image: url('../image/we-know.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        background-color: transparent;
        border-top: solid;
        border-bottom: solid
    }
    .custom-card-body{
    }
    .custom-button{
        background: transparent;
        border: solid black;
        color: black;
    }
    .my-footer .my-footer-logo{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0px;
    }
    .my-footer .myfooter-copy-right {
        margin-top: auto;
        margin-bottom: auto;
    }
    .custom-book-card{
        width: 800px;
        height: 500px;
        background-image: url('../image/blank-book.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        background-color: transparent;
        border: none
    }   
    .snow{
   background-image:
           url(https://image.ibb.co/k0aqx6/snow.png), 
           url(https://image.ibb.co/eCahc6/snow1.png), 
           url(https://image.ibb.co/bOboH6/snow2.png);
   width: 100%;
   position: absoulute;
   top: 0;
   left: 0;
   z-index:1;
   animation: snow 20s linear infinite;
    }
    @keyframes snow {
        from {background-position: 0px 0px, 0px 0px, 0px 0px;}
        to {background-position: 500px 1000px, 200px 400px, -100px 300px;}
    }
</style>
