<nav class="navbar navbar-default navbar-custom snow" role='navigation'>
    <div class="container-fluid">
        <div class="navbar-header" style="text-align:center">
            <a class="navbar-brand" href="/index">
                <span class="glyphicon glyphicon glyphicon-tree-delicious"></span>
                <img class="brand-logo animated infinite pulse" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/The_Elder_Scrolls_V_-_Skyrim_logo.png/1200px-The_Elder_Scrolls_V_-_Skyrim_logo.png">
            </a>
        </div>
        <ul class="navigation-list custom-nav-list">
            <li><a href="#">Arrow</a></li>
            <li><a href="#">To the</a></li>
            <li><a href="#">Knee</a></li>
            <li><a href="/books">Books</a></li>

        </ul>
    </div>

</nav>