<html lang="en">

<head>
    <% include ../view/head %>
</head>

<body>
    <header>
    <% include ../view/header %>
    </header>

    <main class="custom-main">
        <span style="padding: 15px"></span>
        <% include ../view/welcome-message %>
        <div class='card form-container'>
            <div class="card-header">
                <h2 class='form-card-header'>Join the Dark Brotherhood. We want you!</h2>
                <img class="animated infinite pulse" src="image/we-want-you.png" style="width:100px ;float:right">
            </div>
            <div class='card-body custom-card-body'>
                <% include ../view/login-form %>
                <% include ../view/submitted-form %>
            </div>
        </div>
        <span style="padding: 15px"></span>
    </main>
    <footer>        
        <% include ../view/footer %>
    </footer>


</body>
</html>