<form class="login-form" action="/index" method='post'>
        
        <div class="form-group">
        <label for="exampleInputEmail1"><strong>Email address</strong></label>
        <input type="email" name='email' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        
        <div class="form-group">
        <label for="exampleInputPassword1"><strong>Password</strong></label>
        <input type="password" name='password' class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        
        <div class="form-group">
            <label for="raceSelect"><strong>Race</strong></label>
            <select class="form-control form-control" name="race">
                <option></option>
                <option>Altmer (High Elf)</option>
                <option>Argonian</option>
                <option>Breton</option>
                <option>Orc</option>
                <option>Khajit</option>
                <option>Bosmer (Wood Elf)</option>
                <option>Dummner (Dark Elf)</option>
            </select>
        </div>

        <div class="form-group">
                <label for="raceSelect"><strong>Specialty</strong></label>
                <select class="form-control form-control" name="specialty">
                    <option></option>
                    <option>Archery</option>
                    <option>One-Handed</option>
                    <option>Sneak Attack</option>
                    <option>Destruction (Magic)</option>
                    <option>Heavy Armor</option>
                    <option>Restoration (Magic)</option>
                    <option>Conjuration (Magic)</option>
                </select>
            </div>

        <div class="form-check">
    </div>
    <pre>"Only a true assassin will be able to catch the button!", unknown.</pre>
    <button type="submit" class="btn btn-primary custom-button animated infinite wobble">Become an Assassin</button>
</form>