<div class="jumbotron submitted-form">
    <p><strong>Your Dark Brotherhood Application:</strong></p>
    <% if (typeof email != 'undefined')  { %>
        <p>Email: <%= email %></p>
    <% } %>

    <% if (typeof password != 'undefined')  { %>
        <p>Password: <%= password %></p>
    <% } %>

    <% if (typeof race != 'undefined')  { %>
        <p>Race: <%= race %></p>
    <% } %>

    <% if (typeof specialty != 'undefined')  { %>
        <p>Specialty: <%= specialty %></p>
    <% } %>

    <p><strong>Khajit has cookies if you have coins:</strong></p>
    <% if (typeof cookies != 'undefined')  { %>
        <pre><%= cookies %></pre>
    <% } %>

</div>