<div class="jumbotron welcome-message">
    <h1 class="display-4" style="display:inline">Welcome to the land of Tamriel!</h1><img class='welcome-image' src='image/whiterun-shield.png' style="width: 200px; float: right">
    <p class="lead">Hello there traveler. May I interest you some skooma?</p>
    <hr class="my-4" style="width:70%; margin-left:0px">
    <p><strong>Khajit has header info if you have coins:</strong></p>
    <% if (typeof headers != 'undefined')  { %>
        <pre><%= headers %></pre>
    <% } %>
</div>